<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style>
        h1{
            padding: auto;
            width: 100%;
            text-align: center;
            font-style: italic;
            padding: 80px;
            border-radius: 7px solid black;

        .container{
            padding-bottom: 10px;
        }
    </style>
</head>
<body>

    {% extends 'base.html' %}
    {% block content %}
    <h1>Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ product.image_url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="#" class="btn btn-success">Add to Cart</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

</body>
</html>